body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:white;
    margin:0;
    padding:0;
    color:black;
}

h1,h2,h3{
     color: #32475c;
}

.container{
    max-width: 700px;
    margin:40px auto;
    padding:30px;
    background-color:white;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
    border-radius:8px;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
}

input[type="text"], input[type="number"], input[type="date"]{
    padding:8px 10px;
    border:1px solid #ccc;
    border-radius:4px;
    font-size:16px;
}

button{
    padding:5px 10px;
    background-color:#3498db;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer; 
    font-size:12px;
    transition:0.2s;
    max-width:120px;
    
}

button:hover{
    background-color:#1f7fbe;
}

.session{
    background-color: white;
    padding: 15px 20px;
    margin-bottom:15px;
    border-radius:6px;
    box-shadow:0px 2px 6px rgba(0,0,0,0.1);

}

.session h3{
    margin-top:0;
}

.session p{
    margin:5px 0;
}

.analysis{
    margin-top:20px;
    padding:15px ;
    background-color:#e8f6f3;
    border-left:5px solid #2ecc71;
    border-radius:5px;
}

.analysis p{
    margin: 5px 0;
}

@media(max-width:600px){
    .container{
        padding:10px;
    }
    input, button{
        font-size:14px;
    }
}
.button-container{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:20px;
}

.analysis p{
    margin:5px 0;
    font-size:16px;
    display:flex;
    align-items:center;
    gap:8px;
}

.analysis .progress{
    color:green;
}
.analysis .plateau{
    color:yellow;

}
.analysis .regression{
    color:red;
}